<!DOCTYPE html>
<html ng-app="scripts">
<head>
	<title>Script Application</title>
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="/assets/lib/jquery.min.js"></script>
	<script type="text/javascript" src='/assets/bootstrap/js/bootstrap.min.js'></script>
	<script type="text/javascript" src="/assets/lib/angular.js"></script>
	<script type="text/javascript" src="/assets/lib/angular-route.min.js"></script>
	<script type="text/javascript" src="/assets/lib/underscore.js"></script>
	<script type="text/javascript" src="/assets/app/app.js"></script>
	<script type="text/javascript" src="/assets/app/controller/mainCtrl.js"></script>
</head>
<body>
	<ng-view></ng-view> 
</body>
</html>